:markdown

  ## Lead

  * Prioritizes and leads the efforts working on GitLab's Prometheus monitoring and alerting infrastructure
  * Manage the bundling of Prometheus as an out-of-the-box monitoring solution for GitLab CE/EE packages
  * Orchestrate the migration from our current performance monitoring solution to Prometheus
  * Ensures that there is a written onboarding and process that is effective and followed
  * Performs 1:1's with all reports every 2-5 weeks (depending on the experience of the report)
  * Is available for 1:1's on demand of the report
  * Uses the contributor analytics to ensure that anyone who is stuck is helped
  * Reviews and manages a significant amount of the merge requests made by developers
  * Experience leading a team of developers
