!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}

  - site_url = "https://about.gitlab.com/blog/categories/releases/"

  %title GitLab Security Releases
  %id= URI.join(site_url, blog.options.prefix.to_s)
  %link{:href => site_url}

  - unless blog.articles.empty?
    %updated= blog.articles.first.date.to_datetime.rfc3339
  %author
    %name The GitLab Team

  - blog.articles.each do |article|
    - if article.metadata[:page][:categories] == 'releases' && article.metadata[:page][:tags] == 'security' 
      %entry
        %title= h(article.title)
        %release= article.metadata[:page][:release_number]
        %link{:rel => "alternate", :href => URI.join(site_url, article.url)}
        %id= URI.join(site_url, article.url)
        %published= article.date.to_datetime.rfc3339
        %author
          %name= h(article.data.author)
        %content{:type => "html"}= xml_feed_content(article)
